@{
    ViewBag.Title = "Gestão";
}

<div class="alert bg-primary" role="alert">
    <svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg> Sistema RH - DB1 Global Software
</div>

<div class="col-md-pull-12">
    <div class="panel panel-default">
        <div class="panel-body tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Informativos</a></li>
                <li><a href="#tab2" data-toggle="tab">Relatórios</a></li>
                <li><a href="#tab3" data-toggle="tab">Gráficos</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <h4>Tab 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <h4>Tab 2</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
                </div>
                <div class="tab-pane fade" id="tab3">
                    <h4>Tab 3</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
                </div>
            </div>
        </div>
    </div>
</div>

